<footer class="blog-footer">
	<h2 class="sr-only">Footer</h2>
	<div class="container">
		<!-- LINKS SECTION -->
		<div class="row">
	      	<div class="col-6 col-md">
	        	<h3>Quick Links</h3>
		        <ul class="list-unstyled text-small">
		          	<li><a class="text-muted" href="/">Home</a></li>
		          	<li><a class="text-muted" href="/blog">Blog</a></li>
		          	<li><a class="text-muted" href="/tools">Tools</a></li>
		          	<li><a class="text-muted" href="/about">About</a></li>
		          	<!-- if no user is logged in, show sign-up -->
		          	<% if (!currentUser) { %>
		          	<li><a class="text-muted" href="/sign-up">Sign Up</a></li>
		          	<% } %>
		          	<!-- if no user is logged in, show sign-in -->
		          	<% if (!currentUser) { %>
		          	<li><a class="text-muted" href="/sign-in">Sign In</a></li>
					<% } else { %>
					<!-- if a user is signed in then show profile and sign-out -->
					<li><a class="text-muted" href="/profile">Profile</a></li>
					<li><a class="text-muted" href="/sign-out">Sign Out</a></li>
					<% } %>
		        </ul>
	      	</div>
	      	<div class="col-6 col-md">
	        	<h3>Categories</h3>
	        	<ul class="list-unstyled text-small">
	          		<li><a class="text-muted" href="/blog/web-development">Web Development</a></li>
	          		<li><a class="text-muted" href="/blog/digital-marketing">Digital Marketing</a></li>
	          		<li><a class="text-muted" href="/blog/social-media">Social Media</a></li>
	          		<li><a class="text-muted" href="/blog/software">Software</a></li>
	          		<li><a class="text-muted" href="/blog/make-money-online">Make Money Online</a></li>
	        	</ul>
	      	</div>
	      	<div class="col-6 col-md">
	        	<h3>Guides</h3>
	        	<ul class="list-unstyled text-small">
	          		<li><a class="text-muted" href="#">Resource</a></li>
	          		<li><a class="text-muted" href="#">Resource name</a></li>
	          		<li><a class="text-muted" href="#">Another resource</a></li>
	          		<li><a class="text-muted" href="#">Final resource</a></li>
	        	</ul>
	      	</div>
	      	<div class="col-6 col-md">
	        	<h3>Follow Us</h3>
	        		<ul class="list-unstyled text-small">
	          		<li><a class="text-muted" href="#">Twitter</a></li>
	          		<li><a class="text-muted" href="#">Facebook</a></li>
	          		<li><a class="text-muted" href="#">Instagram</a></li>
	          		<li><a class="text-muted" href="#">LinkedIn</a></li>
	          		<li><a class="text-muted" href="#">Google+</a></li>
	          		<li><a class="text-muted" href="#">YouTube</a></li>
	        	</ul>
	      	</div>
	    </div>
	    <!-- LINKS SECTION -->

	    <!-- LINKS SECTION -->
	    <div class="copywrite">
	  		<p>&copy; 2020 路 Suburban Digi Hustle 路 All rights reserved</p>
	  		<p><a href="/terms-of-use">Terms of use</a> 路 <a href="/privacy-policy">Privacy Policy</a> 路 <a href="/legal-disclaimer">Disclaimer</a></p>
	  		<p><a href="/site-map">Site Map</a></p>
	  	</div>
	  	<!-- LINKS SECTION -->
  	</div>
</footer>