<footer class="blog-footer">
  <p> Suburban Digi Hustle. All rights reserved</p>
  <p><a href="#">Terms of use</a> <a href="#">Privacy Policy</a> <a href="#">Disclaimer</a></p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>