<header class="blog-header">
    <a class="skip-link" href="#main">Skip to main</a>
    <nav 
        class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" 
        aria-label="site">
        <div class="container">
            <a class="navbar-brand mr-auto mr-lg-0" href="/">
                <img 
                    src="/images/logo.png" 
                    alt="Suburban Digi Hustle Logo"
                    class="logo"
                    title="Suburban Digi Hustle Logo"
                    loading="lazy"
                    width="50" 
                /> 
                Suburban Digi Hustle
            </a>
            <button 
                class="navbar-toggler p-0 border-0" 
                type="button" 
                data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <form 
                    class="form-inline ml-4 my-2 my-lg-0"
                    method="GET"
                    action="/blog"
                    role="search">
                    <input 
                        type="search"
                        name="search"
                        id="search-query" 
                        class="form-control mr-sm-2"  
                        placeholder="Search" 
                        value="<%= typeof page !== 'undefined' && page === 'all-posts' ? query.search : '' %>"
                        aria-label="Search"
                        autofocus 
                    />
                    <button 
                        class="btn btn-outline-success my-2 my-sm-0" 
                        type="submit">Search
                    </button>
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a  class="nav-link" 
                            href="/">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" 
                            href="/blog">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" 
                            href="/products">
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link" 
                            href="/about">
                            About Us
                        </a>
                    </li>
                    <% if (!currentUser) { %>
                        <li class="nav-item">
                            <a  class="nav-link" 
                                href="/sign-up">
                                Sign Up
                            </a>
                        </li>
                    <% } %>
                </ul>
                <% if (!currentUser) { %>
                    <a class="btn btn-primary" href="/sign-in" role="button">
                        <i class="fas fa-sign-in-alt"></i> Sign In
                    </a>
                <% } else { %>
                    <div class="dropdown">
                        <button
                            type="button" 
                            id="dropdownMenuButton" 
                            class="btn btn-secondary dropdown-toggle" 
                            data-toggle="dropdown" 
                            aria-haspopup="true" 
                            aria-expanded="false">
                            <%= currentUser.username %>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <% if (currentUser.isAdmin) { %>
                                <a class="dropdown-item" href="/blog/new">
                                    <i class="fas fa-edit"></i> Create New Post
                                </a>
                                <div class="dropdown-divider"></div>
                            <% } %>
                            <a class="dropdown-item" href="/profile">
                                <i class="fas fa-user"></i> Profile
                            </a>
                            <a class="dropdown-item" href="/sign-out">
                                <i class="fas fa-sign-out-alt"></i> Sign Out
                            </a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </nav>
</header>

<section id="secondary-nav">
    <div class="nav-scroller container py-1 mb-2">
        <nav class="nav d-flex justify-content-between" aria-label="site">
            <a class="p-2 text-muted" href="/blog/web-development">#Web Development</a>
            <a class="p-2 text-muted" href="/blog/social-media">#Social Media</a>
            <a class="p-2 text-muted" href="/blog/software">#Software</a>
            <a class="p-2 text-muted" href="/blog/digital-marketing">#Digital Marketing</a>
            <a class="p-2 text-muted" href="/blog/make-money-online">#Make Money Online</a>
        </nav>
    </div>
</section>