<% layout('layouts/boilerplate') -%>
<!-- PAGE HEADER -->
<header>
	<div class="container">
		<div class="jumbotron jumbotron-fluid about-jumbotron">
		  	<div class="container">
		    	<h1 class="font-italic page-title">About Us</h1>
		    	<p class="lead">Get to know us better and understand why we do what we do.</p>
		  	</div>
		</div>
	</div>
</header>
<!-- PAGE HEADER -->

<!-- MAIN SECTION START -->
<main
	id="main" 
	class="main container"
	tabindex="-1"
	role="main"
>
  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 main-content">
    		<!-- who we are starts -->
    		<section>
	      		<h2 class="section-title">Who We Are</h2>
	      		<p><strong><a href="/">Subrban Digi Hustle</a></strong> is a platform that aims to provide best insights, tips, guides and tools to help you grow your business and personal brand on the digital scope. We specialize in Web Development, Digital Marketing, Social Media Platforms, Marketing Software, and How To Make Money Online.</p> 

	      		<p>We are very passionate about the Online Digital World - not to mention the opportunities that it presents. We are determined and excited to share with our audience the best insights, knowledge and information we have gained over the years. We aim to become a one stop platform for all your business and personal brand digital success needs!</p>
      		</section>
      		<!-- who we are ends -->

      		<!-- what we do starts -->
      		<section>
	      		<h2 class="section-title">What We Do</h2>
	      		<p>After years of research and studying how the <em>Digital World</em> works, we have come to the conclusion to instead of just providing digital services to our customers, we decided to also provide insights, knowledge and information to help brands learn and grow.</p> 

	      		<p> On this platform we aim to take all the knowledge we possess and put in such a way that is relevant and easy to implement for anyone who is just starting out. We take from our personal experinces and provide insights on how to reach one's goals in the most optimal way posible.</p>
      		</section>
      		<!-- what we do ends -->


      		<!-- about the author starts -->
      		<section>
      			<h2 class="section-title">The Founder</h2>
	      		<p>My name is Mnqobi and I am from South Africa. I am the founder of <strong><a href="/">Suburban Digi Hustle</a></strong>. I am a professional <em>Web Developer</em> and <em>Digital Marketing Consultant</em>. I have been working as a freelancer for a couple of years now and have helped multiple companies in my area to reach their <em>digital</em> goals.</p>

	      		<p>My journey that led me to starting this platform may sound cliché, but it is the real story. Being from a small town called Bethlehem is one of my biggest <em>inspiration</em> that led me to start this blog sharing my <strong>passions and expertise</strong>. Other inspirations being my love for sharing information and helping people.</p>

	      		<p>Because I wanted to reach a <em>larger audience</em>, I had this idea of <a href="">starting a blog</a> and sharing my knowledge <em>online</em>, where anyone that wants it can access it.</p> 

	      		<p>I have spent years <em>researching</em> the market and being part of the market and I find most <strong>fullfillment</strong> in sharing my knowledge with others.</p>

	      		<p>I am still learning more as a person and want to make sure that I provide my audience with the best and latest insights possible.</p>
      		</section>

      		<!-- founder bio -->
      		<section>
	      		<div class="card" style="width: 18rem;">
				  	<img 
				  		src="/images/founder1.JPG" 
				  		class="card-img-top" 
				  		alt="Amandla's Bio Image"
				  		title="Amandla's Bio Image"
				  		loading="lazy" 
				  	>
				  	<div class="card-body">
				    	<h3 class="card-title">Mnqobi Mzolo</h3>
				    	<p class="card-text">Web Developer, Digital Marketing Consultant and Blogger.</p>
				  	</div>
				  	<div class="card-body">
				    	<a href="#" class="card-link"><span class="sr-only">Twitter</span><i class="fab fa-twitter"></i></a>

				    	<a href="#" class="card-link"><span class="sr-only">Facebook</span><i class="fab fa-facebook"></i></a>

				    	<a href="#" class="card-link"><span class="sr-only">Linkedin</span><i class="fab fa-linkedin"></i></a>

				    	<a href="#" class="card-link"><span class="sr-only">Instagram</span><i class="fab fa-instagram"></i></a>
				    	
				  	</div>
				</div>
			</section>
			<!-- about the author ends -->
    	</div>
    	<!-- MAIN CONTENT END -->

    	<!-- SIDEBAR START -->
    	<aside class="col-md-4 sidebar">
    		<% include ./partials/sidebar %>	
    	</aside>
    	<!-- SIDEBAR END -->
  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION END -->

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>