<% layout('layouts/boilerplate') -%>
<!-- PAGE HEADER -->
<header>
	<div class="container">
		<div class="jumbotron jumbotron-fluid page-jumbotron">
		  	<div class="container">
		    	<h1 class="font-italic page-title">Sign Up</h1>
		    	<p class="lead">Be part of the community and share your thoughts on our posts by signing up!</p>
		  	</div>
		</div>
	</div>
</header>
<!-- PAGE HEADER -->

<!-- MAIN SECTION START -->
<main
	id="main"
	class="main container"
	tabindex="-1"
	role="main"
>

	<nav class="breadcrumbNav" aria-label="breadcrumb">
  		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a class="color-blue" href="/">Home</a></li>
    		<li class="breadcrumb-item active" aria-current="page">Sign Up</li>
  		</ol>
	</nav>

  	<div class="row"><!-- ROW -->
  		<!-- MAIN CONTENT START -->
    	<div class="col-md-8 main-content">
    		<!-- SIGN-UP FORM START -->
    		<div class="form-holder sign-form">
	    		<form
					action="/sign-up"
					method="POST"
					class="form"
					enctype="multipart/form-data"
				>
					<div class="form-group">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							class="form-control"
							maxlength="30"
							pattern="[A-Za-z]{2,}"
							title="Username must be a series of alphabetic characters only (min 2, max 30)."
							value="<%= username %>"
							placeholder="John"
							required
							autofocus
						/>
					</div>

					<div class="form-group">
						<label for="email">Email</label>
						<input
							type="email"
							name="email"
							id="email"
							class="form-control"
							maxlength="150"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
							title="Email must follow this pattern: you@example.com"
							placeholder="you@example.com"
							value="<%= email %>"
							required
						/>
					</div>

					<div class="form-group">
						<label for="password">Password</label>
						<input
							type="password"
							id="password"
							name="password"
							class="form-control"
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
							title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"
							placeholder="********"
							required
						/>
					</div>

					<div class="form-group">
						<label for="image">Profile Image (optional)</label>
						<input
							type="file"
							id="image"
							name="image"
							class="form-control"
							title="Image file format must be: JPEG, PNG or SVG."
							accept="images/*"
						/>
					</div>

					<p class="visuallyHidden">Agree to Terms</p>
					<div class="form-check mb-4">
						<input
							type="checkbox"
							name="agreeToTerms"
							id="agreeToTerms"
							class="form-check-input"
							value="true"
							title="Check to agree to the terms"
							required
						/>
						<label class="form-check-label" for="agreeToTerms">
							<small>
								I have read and agree to the <a class="color-blue" href="/terms-of-use">terms of use</a> and <a class="color-blue" href="/privacy-policy">privacy policy</a>.
							</small>
						</label>
					</div>


					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6Ld1BMkZAAAAAEk27Mknol59PDilNDHYGKiV89Pf"></div> <!-- RECAPTURE (CHANGE SITEKEY) -->
					</div>

					<div class="form-group">
						<button type="submit" class="btn form-btn">
							Sign Up
						</button>
					</div>
				</form>
				<!-- SIGN-UP FORM START -->

				<div class="options">
					<div class="or">-- Or --</div>
					<div>Already A Member? <a class="color-blue" href="/sign-in">Sign In Now!</a></div>
				</div>
			</div>
    	</div>
    	<!-- MAIN CONTENT END -->

		<!-- SIDEBAR START -->
		<aside class="col-md-4 sidebar">
			<% include ./partials/sidebar %>
		</aside>
		<!-- SIDEBAR END -->
  	</div><!-- ROW -->
</main>
<!-- MAIN SECTION END -->

<script>
	const posts = { features: <%- JSON.stringify(posts) %> };
</script>
