.show-main {
	margin-bottom: 4rem;
	border: none !important;
}

.post-show-article {
	margin-bottom: 0;
}

.blog-post-body {

}

.delete-btn {
	margin-right: 1rem;
	background-color: var(--clr-red)!important;
}

.comments-card {
	margin-bottom: 4rem;
}

.related-post-card {
	max-width: auto;
	margin-bottom: 4rem;
}

.related-post-image {
	max-width: 100%;
  	display: block;
 	height: 100%;
  	margin: 0 auto;
}


.edit-comment-form {
	display: none;
}
